<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page-wrapper">
    <div id="page-header">
      <%= render 'shared/welcome_header' %>
    </div> <!-- end page-header -->
    <div id="page-content">
      <div class="form-container form-group has-error">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <!-- <%= devise_error_messages! %> -->
          <div class="field">
            <%= f.text_field :first_name, autofocus: true, placeholder: "First Name", class: "form-control" %>
          </div>
          <div class="field">
            <%= f.text_field :last_name, autofocus: true, placeholder: "Last Name", class: "form-control"%>
          </div>
          <div class="field">
            <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
          </div>
          <div class="field">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
          </div>
          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "form-control" %>
          </div>
          <div class="actions">
            <%= f.submit "Sign up", class: "form-control btn btn-danger"%>
          </div>
        <% end %>
        <%= render "shared/sweet_alerts" %>
        <%= render "devise/shared/links" %>
      </div>
    </div> <!-- end page-content -->
    <div id="page-footer">
      <%= render 'shared/footer' %>
    </div>
  </div> <!-- end page-wrapper -->
</body>
</html>


