<div class="container-fluid">
  <%= link_to "< Back to Job", user_job_path(current_user, @job) %>
  <h1 class="text-center title"><%= @job.position %> <span class="title-min">@</span> <em><%= @job.company %></em> <span class="title-min">in</span> <%= @job.location %></h1>
  <div class="col-md-4 col-md-offset-4 has-error">
    <div class="form-group edit-job-form">
      <%= form_for [current_user, current_user.jobs.build], url: {action: 'update'}, html: {method: 'put'} do |f| %>
        <div class="dropdown">
          <%= f.select :category, options_for_select([['Interested', 'interested'], ['Applied', 'applied'], ['Hot', 'hot'], ['Cold', 'cold'], ['Offer', 'offer'], ['Rejected', 'rejected']], selected: "#{@job.category}" ), {}, {class: "form-control btn btn-default dropdown-toggle"} %>
        </div>
        <%= f.text_field :company, value: "#{@job.company}", class: "form-control" %>
        <%= f.text_field :position, value: "#{@job.position}", class: "form-control" %>
        <%= f.text_field :location, value: "#{@job.location}", class: "form-control" %>
        <%= f.text_field :link, value: "#{@job.link}", class: "form-control", placeholder: "Link" %>
        <%= f.text_field :manager, value: "#{@job.manager}", class: "form-control" , placeholder: "Contact Name" %>
        <%= f.text_field :job_email, value: "#{@job.job_email }", class: "form-control" , placeholder: "Contact Email" %>
        <%= f.text_field :phone_number, value: "#{@job.phone_number}", class: "form-control" , placeholder: "Phone Number" %>
        <%= f.text_area  :description, value: "#{@job.description}", class: "form-control desc-form", placeholder: "Description" %>
        <%= f.submit "Save Job", class: "form-control btn btn-danger" %>
      <% end %>

      <%= link_to 'Delete Job', user_job_path(current_user, @job), method: :delete, data: {confirm: "Are you sure?"}, class: "form-control btn btn-default" %>
    </div>
  </div>
</div>