<div class="greeting-container">
  <h4 class="greeting text-center">Happy Job Hunting, <%= current_user.first_name %>.</h4>
</div>

<div class="add-job-container">
  <div class="has-error">
    <%= form_for [current_user, current_user.jobs.build], url: {action: "create"} do |f| %>
      <%= f.text_field :company, placeholder: "Company", class: "form-control form-inline" %>
      <%= f.text_field :location, placeholder: "Location", class: "form-control form-inline" %>
      <%= f.text_field :position, placeholder: "Position", class: "form-control form-inline" %>
      <%= f.submit "Add Job", class: "btn btn-sm btn-danger add-job-btn" %>
    <% end %>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 text-center category-col"><p class="category-title">Interested</p>
      <% @jobs.each_with_index do |job, index| %>
        <% break if (@jobs.length - 1) == index %>
        <% if job.category == "interested" %>
          <div class="job text-center">
            <%= link_to user_job_path(current_user, job) do %>
              <p class="job-title"><em><%= job.company %></em></p>
              <h4><%= job.position %></h4>
              <h5><%= job.location %></h5>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-2 text-center category-col"><p class="category-title">Applied</p>
      <% @jobs.each_with_index do |job, index| %>
        <% break if (@jobs.length - 1) == index %>
        <% if job.category == "applied" %>
          <div class="job text-center">
            <%= link_to user_job_path(current_user, job) do %>
              <p class="job-title"><em><%= job.company %></em></p>
              <h4><%= job.position %></h4>
              <h5><%= job.location %></h5>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-2 text-center category-col"><p class="category-title">Hot</p>
      <% @jobs.each_with_index do |job, index| %>
        <% break if (@jobs.length - 1) == index %>
        <% if job.category == "hot" %>
          <div class="job text-center">
            <%= link_to user_job_path(current_user, job) do %>
              <p class="job-title"><em><%= job.company %></em></p>
              <h4><%= job.position %></h4>
              <h5><%= job.location %></h5>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-2 text-center category-col"><p class="category-title">Cold</p>
      <% @jobs.each_with_index do |job, index| %>
        <% break if (@jobs.length - 1) == index %>
        <% if job.category == "cold" %>
          <div class="job text-center">
            <%= link_to user_job_path(current_user, job) do %>
              <p class="job-title"><em><%= job.company %></em></p>
              <h4><%= job.position %></h4>
              <h5><%= job.location %></h5>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-2 text-center category-col"><p class="category-title">Offer</p>
      <% @jobs.each_with_index do |job, index| %>
        <% break if (@jobs.length - 1) == index %>
        <% if job.category == "offer" %>
          <div class="job text-center">
            <%= link_to user_job_path(current_user, job) do %>
              <p class="job-title"><em><%= job.company %></em></p>
              <h4><%= job.position %></h4>
              <h5><%= job.location %></h5>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-2 text-center category-col"><p class="category-title">Rejected</p>
      <% @jobs.each_with_index do |job, index| %>
        <% break if (@jobs.length - 1) == index %>
        <% if job.category == "rejected" %>
          <div class="job text-center">
            <%= link_to user_job_path(current_user, job) do %>
              <p class="job-title"><em><%= job.company %></em></p>
              <h4><%= job.position %></h4>
              <h5><%= job.location %></h5>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>sweetAlert("hello")</script>