<div class="greeting-container">
  <h4 class="greeting text-center">Good Job Hunting, <%= current_user.first_name %>.</h4>
</div>

<div class="has-error">
  <%= form_for [current_user, current_user.jobs.build], url: {action: "create"} do |f| %>
    <%= f.text_field :company, placeholder: "Company", class: "form-control form-inline" %>
    <%= f.text_field :location, placeholder: "Location", class: "form-control form-inline" %>
    <%= f.text_field :position, placeholder: "Position", class: "form-control form-inline" %>
    <%= f.submit "Add Job", class: "btn btn-sm btn-danger add-job-btn" %>
  <% end %>
</div>

<table class="table">
  <tr><th>Interested</th><th>Applied</th><th>Hot</th><th>Cold</th><th>Offer</th><th>Rejected</th></tr>

    <% @jobs.each_with_index do |job, index| %>
    <% break if (@jobs.length - 1) == index %>
      <tr>
        <td>
          <div class="job-info text-center">
            <%= link_to user_job_path(current_user, job) do %>
            <p class="job-title"><em><%= job.company %></em></p>
            <h4><%= job.position %></h4>
            <h5><%= job.location %></h5>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
</table>