<h4>Hello, <%= current_user.first_name %>.</h4>

<%= form_for [current_user, current_user.jobs.build], url: {action: "create"} do |f| %>
  <%= f.text_field :company, placeholder: "Company" %>
  <%= f.text_field :position, placeholder: "Position" %>
  <%= f.text_field :location, placeholder: "Location" %>
  <%= f.submit "Add Job" %>
<% end %>

<table class="table">
  <tr><th>Interested</th><th>Applied</th><th>Hot</th><th>Cold</th></tr>

    <% @jobs.each_with_index do |job, index| %>
    <% break if (@jobs.length - 1) == index %>
      <tr>
        <td>
          <div class="job-info">
            <p><%= job.company %> - <%= job.location %></p>
            <p><%= job.position %></p>
            <div><%= link_to 'Details', user_job_path(current_user, job), class: "btn btn-xs btn-primary" %></div>
          </div>
        </td>
      </tr>
    <% end %>
</table>