<h1><%= @job.company %></h1>
<%= @job.location %>
<%= @job.position %>
<div><%= link_to 'Edit', edit_user_job_path(current_user, @job), class: "btn btn-xs btn-warning edit-btn" %></div>
<div><%= link_to 'Delete', user_job_path(current_user, @job), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-xs btn-danger del-btn" %></div>
