<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <title>JobHunter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div id="nav">
    <div class="logo-container"><%= image_tag "jobHunterLogo.png", class: "jh-logo" %></div>
    <% if user_signed_in? %>
      <p class="nav-txt pull-right"><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></p>
    <% end %>
  </div>
  </nav>

  <% if notice != nil %>
    <% p "notice is: #{notice}" %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>
</body>
</html>
