<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="page-wrapper">
    <div id="page-header">
      <%= render 'shared/header' %>
    </div>
    <div id="page-content">
      <%= render 'shared/sweet_alerts' %>
      <%= yield %>
    </div>
    <div id="page-footer">
      <%= render 'shared/footer' %>
    </div>
  </div>
</body>
</html>
